*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.continer{
    height: 100vh;
    width: 100%;
    background: #201f21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    width:  400px;
    max-width: 90%;
    position: relative;
    
}

.input-box input{
    margin: 10px;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
    border-radius: 30px;
}

button{
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    left: 50%;
}

i{
    color: white;
    width: 25px;
}

#password-strength{
    position: absolute;
    bottom: -40px;
    color: #fff;
    font-size: 15px;
    display: none;
}

::placeholder{
    font-size: 15px;
}